

/* Fade-in animation for form and badges */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



/* Styling for the badges */
.badges {
    margin-top: 20px;
}

.badges img {
    margin: 0 10px;
    width: 100px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.badges img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 4rem;
    margin: 0;
    color: #ffffff;
}

p {
    font-size: 2rem;
    margin: 20px 0;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-group {
    margin: 10px 0;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

input::placeholder {
    color: #999;
}

button {
    background-color: #FF4A23;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #e6b800;
}

.badges {
    margin-top: 30px;
}

.badges img {
    margin: 10px;
    height: 50px;
}
